<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Scanner</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <center>
    <h1>idStore</h1>
    <input type="file" id="qr-input" accept="image/*">
    <button onclick="scanQR()">Scan QR Code</button>
    <div id="result"></div>
    </center>

    <script>
        // Function to get CSRF token from cookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        function calculateAge(dob) {
            const birthDate = new Date(dob);
            const today = new Date();
            let age = today.getFullYear() - birthDate.getFullYear();
            const monthDifference = today.getMonth() - birthDate.getMonth();
            if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }
            return age;
        }

        function scanQR() {
            var input = document.getElementById('qr-input');
            var file = input.files[0];
            var formData = new FormData();
            formData.append('qrcodeimage', file);

            $.ajax({
                url: '/scan_qr/',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function(response) {
                    var resultDiv = document.getElementById('result');
                    if (response.status === 'verified') {
                        const age = calculateAge(response.data.date_of_birth);
                        console.log(response.data)
                        resultDiv.innerHTML = '<h2>Verified</h2>' +
                            '<p>ID: ' + response.data.id_number + '</p>' +
                            '<p>Name: ' + response.data.name + '</p>' +
                            '<p>Age: ' + age + '</p>' +
                            '<p>Place of birth: ' + response.data.place_of_birth + '</p>' +
                            '<p>Sex: ' + response.data.field_gender + '</p>' +
                            '<p>Address: ' + response.data.field_permanent_address + '</p>' +
                            '<p>Marital Status: ' + response.data.field_marital_status + '</p>';
                    } else {
                        resultDiv.innerHTML = '<h2>Error</h2><p>' + response.message + '</p>';
                    }
                },
                error: function() {
                    document.getElementById('result').innerHTML = '<h2>Error</h2><p>An error occurred while processing the request.</p>';
                }
            });
        }
    </script>
</body>
</html>
